body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #004af7;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  padding: 10px 0;
}

main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

textarea {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
}
.input-field {
  outline-color: #004af7;
}
.output-field {
  cursor: unset;
}
.output-field:focus {
  outline: none;
}
.error-msg {
  color: red;
  transform: translateX(-30px);
  transition: all 0.2s linear 0s;
  padding-top: 10px;
}
#generate-btn {
  display: block;
  padding: 10px 20px;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 4px;
  background-color: #34d690;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#copy-btn {
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #004af7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Preloader related --------------------------------- */

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-out 0.5s;
  opacity: 1;
}
#preloader.hide {
  opacity: 0;
  visibility: hidden;
}
.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #004af7;
}

.pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}

/* Js related ----------------------------------------*/

.active {
  opacity: 1;
  transform: translateX(0px);
}
.disabled {
  opacity: 0;
  transform: translateX(-30px);
}

#generate-btn.waiting {
  background-color: #616161;
  cursor: unset;
}

#copy-btn.waiting {
  background-color: #616161;
  cursor: unset;
}

.input-field.error {
  animation: shake 0.2s;
  animation-iteration-count: initial;
  border: 2px red solid;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
